<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ config.title }}</title>
        <meta name="description" content="{{ config.title }}">
        <meta name="author" content="{{ config.author }}">
    <link rel="stylesheet" href="../css/styles.css?v=1.0">
    </head>
    <body>
        <h1>
            Welcome to {{ config.title }}
        </h1>
        <p>
        Songs in database:
        {% for song in songs.values() %}
        <br />
        <a href='/songs/{{ song.id }}.html'>{{ song.name }}</a> by {{ song.artist }} on {{ song.album }} from {{ song.date }}
        {% endfor %}
        </p>
    </body>
</html>
